@using Analision.Maui.Services.Navigation
@inherits AnalisionMainLayoutPageComponentBase

@attribute [Route("/" + NavigationUrlConsts.Tenants_Edit + "/{TenantId:int}")]

<div class="container">
    <EditForm Model="EditTenantModel" OnValidSubmit="@UpdateTenantAsync">
        <div class="card">
            <div class="card-body">
                <DataAnnotationsValidator/>
                <div class="d-flex flex-column mb-4">
                    <label class="form-label fw-semibold">
                        <span class="required">
                            @L("TenancyName")
                        </span>
                    </label>
                    <InputText @bind-Value="EditTenantModel.TenancyName" class="form-control form-control-solid" placeholder="@L("TenancyName")"/>
                    <ValidationMessage For="@(() => EditTenantModel.TenancyName)"/>
                </div>
                <div class="d-flex flex-column mb-4">
                    <label class="form-label fw-semibold">
                        <span class="required">@L("Name")</span>
                    </label>
                    <InputText @bind-Value="EditTenantModel.Name" class="form-control form-control-solid" placeholder="@L("Name")"/>
                    <ValidationMessage For="@(() => EditTenantModel.Name)"/>
                </div>
                <div class="form-check form-check-solid form-switch form-check-custom mb-4">
                    <InputCheckbox @bind-Value="EditTenantModel.IsActive" class="form-check-input w-45px h-30px" type="checkbox" id="isActive"/>
                    <label class="form-check-label" for="isActive">@L("Active")</label>
                    <ValidationMessage For="@(() => EditTenantModel.IsActive)"/>
                </div>
                <hr/>
                <div class="col-md-6 fv-row fv-plugins-icon-container mb-8" data-select2-id="select2-data-119-f5bj">
                    <label class="required fs-6 fw-semibold">@L("Edition")</label>
                    <InputSelect @bind-Value="EditTenantModel.SelectedEdition" class="form-select form-select-solid" data-control="select2"
                                 data-hide-search="true" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                        @foreach (var edition in EditTenantModel.Editions)
                        {
                            <option value="@edition.Value">@edition.DisplayText</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => EditTenantModel.SelectedEdition)"/>
                </div>

                @if (EditTenantModel.IsSubscriptionFieldVisible)
                {
                    <label class="form-check form-switch form-check-custom form-check-solid mb-4">
                        <InputCheckbox @bind-Value="EditTenantModel.IsUnlimitedTimeSubscription" class="form-check-input"/>
                        <span class="form-check-label fw-semibold text-muted">@L("UnlimitedTimeSubscription")</span>
                        <ValidationMessage For="@(() => EditTenantModel.IsUnlimitedTimeSubscription)"/>
                    </label>
                    @if (!EditTenantModel.IsUnlimitedTimeSubscription)
                    {
                        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container mb-4">
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="required">@L("SubscriptionEndDateUtc")</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7"></i>
                            </label>
                            <InputDate @bind-Value="EditTenantModel.SubscriptionEndDateUtc" class="form-control form-control-solid datetimepicker-input"
                                       id="subscription-end-date-utc" data-toggle="datetimepicker" data-target="#subscription-end-date-utc"/>
                            <ValidationMessage For="@(() => EditTenantModel.SubscriptionEndDateUtc)"/>
                        </div>
                    }

                    @if (!EditTenantModel.IsSelectedEditionFree)
                    {
                        <label class="form-check form-switch form-check-custom form-check-solid mb-4">
                            <InputCheckbox @bind-Value="EditTenantModel.IsInTrialPeriod" class="form-check-input"/>
                            <span class="form-check-label fw-semibold text-muted">@L("IsInTrialPeriod")</span>
                        </label>
                        <ValidationMessage For="@(() => EditTenantModel.IsInTrialPeriod)"/>
                    }
                }
            </div>
        </div>

        <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary">
                <span class="indicator-label">@L("Save")</span>
            </button>
        </div>
    </EditForm>
</div>